body {
    margin:0;
    padding:0;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 40px;
   background-color: black;
}
header p {
margin: 10px;
}
.gameTable{
display:flex;
flex-direction: row;
width: 100%;
height: 500px;
position: relative;
}
.playTable {
    width: 60%;
}
.rock{
    font-size: 100px;
      border: 2px dashed black;
     padding: 10px;
     width: 100px;
     height: 100px;
}
.rock:hover{
    transform: scale(1.4);
    border: 2px solid black;
}
.rockResult{
    font-size: 100px;
    color:white;
    border: 2px solid white;
    padding: 10px;
     width: 100px;
     height: 100px;
     margin: 50px 50px 0 50px ;
}
.paper{
    font-size: 100px;
    border: 2px dashed black;
     padding: 10px;
     width: 100px;
     height: 100px;
}
.paper:hover{
    transform: scale(1.4);
    border: 2px solid black;
}
.paperResult{
    font-size: 100px;
    color:white;
    border: 2px solid white;
    padding: 10px;
     width: 100px;
     height: 100px;
     margin: 50px 50px 0 50px ;
}
.scissors{  
    font-size: 100px;
    border: 2px dashed black;
     padding: 10px;
     width: 100px;
     height: 100px;
}
.scissors:hover{
    transform: scale(1.4);
    border: 2px solid black;
}
.scissorsResult{
    font-size: 100px;
    color:white;
    border: 2px solid white;
    padding: 10px;
     width: 100px;
     height: 100px;
     margin: 50px 50px 0 50px ;
}
.playTableFirstRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}
.playTableSecondRow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.playTableSecondRow > p{
    margin: 0;
}
.result{
    position: absolute;
    width: 750px;
    height: 450px;
    border: 1px solid black;
    left: 5%;
    top: 5%;
    background-color: black;
    display: none;
}
.resultBorder{
    border: 2px solid white;
    margin: 10px;
    width: 97%;
    height:94%;
  
}
.yourChoice > p{
color:white;
font-family: 'Permanent Marker', cursive;
margin: 0;
margin-left: 50px;
font-size: 20px;
}
.cpuChoice > p{
    color:red;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    margin-left: 50px;
    font-size: 20px;
}
.resultSign{
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
}
.resultSign > p{
    margin: 0;
}
.matchScore{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.playTableThirdRow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}
.score{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Permanent Marker', cursive;
}
.nextRound{
    width: 40%;
    margin: 50px 0 0 210px;
    color: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.nextRound > div {
    width: 100%;
    text-align: center;
}
.nextRound:hover{
    transform: scale(1.2);
    color: white;
}
.winTable {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 60%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
}
.scoreTable{
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black;
}
.players{
    display: flex;
    flex-direction: row;
    height: 78%;
}
.playerScore{
    font-size: 20px;
    width: 50%;
    text-align: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.playerScoreList{
margin:0;
padding: 0;
list-style: none;
text-align: center;
}
.playerScoreList > li {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.cpuScoreList{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.cpuScoreList > li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.totalScore{
    position: absolute;
    bottom: 5px;
    left: -150px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.playerAllScore{
font-size: 20px;
margin-left: 100px;
}
.cpuAllScore{
    font-size: 20px;
margin-left: 200px;
color: red;
}
.cpuScore{
    font-size: 20px;
    color: red;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid black;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
}
footer > div > a > i{
    font-size: 30px;
    margin: 5px;
}
footer > div > a > i:link{
    color:white;
}
footer > div > a:visited{
    color:white;
}

